---
import NavHome from "../components/NavHome.astro";
import Layout from "../layouts/Layout.astro";

const title = "Home Page";
const navHome = [
	{
		src: "https://cdn.sanity.io/images/3do82whm/next/1c2aa4d10fe71c23d7a36f69fc11c419c5f4ac35-1000x667.png?w=720&h=480&fit=clip&auto=format",
		name: "astro blog",
		url: "/astro/"
	},
]
---

<Layout title={title}>
	<section>
		<ul class="nav-home">
			{navHome.map((link) => 
				<NavHome  
					url={link.url}
					src={link.src}
					name={link.name}
				/>
			)}
		</ul>
	</section>
</Layout>

<style>
	.nav-home{
		list-style: none;
		padding: 0;
		display: flex;
	}
</style>