---
const {url,src,name} = Astro.props;
---

<li class="link">
    <a href={url}>
        <img src={src} alt={name} width="150">
        <h2>{name}</h2>
    </a>
</li>

<style>
    .link{
        background-color: rgba(4, 161, 245, 0.3);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(4, 161, 245, 0.4);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        padding: 0.5rem;
        border-radius: 0.4rem;
        text-align: center;
    }
    li:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    .link a{
        text-decoration: none;
        display: block;
    }
    a img{
        border: 1px solid rgba(4, 161, 245, 0.1);
        border-radius: 0.4rem;
        height: 100px;
    }
    a h2{
        text-transform: capitalize;
        font-weight: lighter;
        color: rgba(0,0,0, 0.5);
        padding: 0;
        margin: 0;
    }
</style>